@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="container">
    <h1 class="mt-4">Get to Know Joel</h1>

    <p>
        Joel performs regularly with 
        <a href="https://www.qwcomedy.com/" target="_blank">
            Quick Wits Comedy
        </a>.
    </p>

    <p>
        He also appears weekly on the
        <a href="https://baconsale.com/" target="_blank">
            Baconsale Podcast
        </a>.
    </p>

    <div class="mt-4">
        <a href="https://baconsale.com/" target="_blank">
            <img src="~/images/BaconsaleKate.jpg" 
                 alt="Baconsale Podcast" 
                 class="img-fluid rounded shadow"
                 style="max-width: 400px;" />
        </a>
    </div>
</div>